<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formStyle.css') }}">

      <div style="height: 110px; background-color: #d5fcf3;">
  <h1>Irish Housing Stock Survey</h1>
  <h3 style = 'text-align:center; color=#ff7900; font-style:italic;'>
    Helping to portrait the real picture of the Irish Housing Market.</h3>
</div>
  </head>
  <body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="#">About</a>
      <a class="nav-item nav-link" href="#">Analyses </a>
      <a class="nav-item nav-link" href="#">Contact us</a>
    </div>
    
</nav>




  <center>
  <div class='form-style-5'>
    <form methods='POST'>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <fileset>
        
        <input type="email" name=form.Email placeholder="Enter your email *">
        <div style = font-size:18px; font-weight:bold; margin-left:100px; class="form-field"> {{ form.sex.label }}  {{ form.sex() }}  </div>
        
        <div style = font-size:18px; font-weight:bold; margin-left:100px; class="form-field"> {{ form.age.label }}  {{ form.age() }}  </div>
        <div style = font-size:18px; font-weight:bold; margin-left:100px; class="form-field"> {{ form.Marital.label }}  {{ form.Marital() }}  </div>
        <div style = font-size:18px; font-weight:bold; margin-left:100px; class="form-field"> {{ form.county.label}}  {{ form.county() }}  </div>
        <div style = font-size:18px; font-weight:bold; margin-left:100px; class="form-field"> {{ form.Property.label }}  {{ form.Property() }}  </div>
        <div style = font-size:18px; font-weight:bold; margin-left:100px; class="form-field"> {{ form.PropertyStatus.label }}  {{ form.PropertyStatus() }}  </div>
        <div style = font-size:18px; font-weight:bold; margin-left:100px; class="form-field"> {{ form.Rooms.label }}  {{ form.Rooms() }}  </div>
        <div style = font-size:18px; font-weight:bold; margin-left:100px; class="form-field"> {{ form.AmountPaid.label}} {{ form.AmountPaid() }} </div>
        <div style = font-size:18px; font-weight:bold; margin-left:100px; class="form-field"> {{ form.People.label}} {{ form.People() }} </div>
        <div style = font-size:17px; font-weight:bold; margin-left:100px; class="form-field"> {{ form.submit()}}  </div>
        {% for mess in get_flashed_messages()  %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close" class="fade close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{mess}}
          </div>
        {% endfor %}
        
    </div>
    </center>
    </fieldset>
    </form>
</html>